<style type="text/css">
	.brand-logo{
		font-family: cursive;
	}

	.logout{
		margin: 15px;
	}

	.table{
		margin: 15px;
		
	}

	.idea {
		margin: 15px;
		
	}
</style>

<div class="navbar-fixed">
    <nav>

	      <div class="nav-wrapper purple lighten-1">
	        <a href="/ideas" class="brand-logo center !important">Effulgent Ideas</a>
	        
		        <div class="row">
			        <form action='/sessions' method='post'>
					
					  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

					   <input type='hidden' name='_method' value='delete'>

					  <input type="submit" class="logout right !important btn purple darken-4" value ="Log Out">
					</form>
				</div>
	      </div>

    </nav>
    
 </div>

 <nav>
    <div class="nav-wrapper deep-purple lighten-1">
    	<h4 class="brand-logo">Hi,  <%= @currentuser.name %>!</h4>
		
    </div>
  </nav>
</form>

<div class="row">
      <div class="col s12 m5">
        <div class="card-panel hoverable purple lighten-4 black-text">
        	<h6>User's infomation</h6>
        	<div class="divider"></div>
			<p>Name: <%= @user.name %><p>
			<p>Alias: <%= @user.alias %><p>
			<p>Email: <%= @user.email %><p>

			<p>Total number of Posts: <%= @user.ideas.count %><p>
			<p>Total number of Likes: <%= @likes.count %><p>
		</div>
	</div>
</div>
